services:
  image-pegasus-cim-mcgill-ca:
    image: nginx:latest
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.atp-pegasus.rule=Host(`pegasus.cim.mcgill.ca`) && PathPrefix(`/image`)"
      - "traefik.http.routers.atp-pegasus.tls.certresolver=myresolver"
      - "traefik.http.middlewares.peg-redirect.redirectregex.regex=^(https?)://pegasus.cim.mcgill.ca/image(/?.*)"
      - "traefik.http.middlewares.peg-redirect.redirectregex.replacement=$${1}://image.a11y.mcgill.ca$${2}"
      - "traefik.http.middlewares.peg-redirect.redirectregex.permanent=true"
      - "traefik.http.routers.atp-pegasus.middlewares=peg-redirect@docker"

      - "traefik.http.routers.image.rule=(Host(`image.a11y.mcgill.ca`) || Host(`image.ally.mcgill.ca`) || Host(`image.accessibility.mcgill.ca`)) \
          && !(PathPrefix(`/tat`) || PathPrefix(`/monarch`))"
      - "traefik.http.middlewares.ally-redirect.redirectregex.regex=^(https?)://image.(ally|accessibility).mcgill.ca(/?.*)"
      - "traefik.http.middlewares.ally-redirect.redirectregex.replacement=$${1}://image.a11y.mcgill.ca$${3}"
      - "traefik.http.middlewares.ally-redirect.redirectregex.permanent=true"
      - "traefik.http.routers.image.middlewares=ally-redirect@docker"
      - "traefik.http.routers.image.tls.certresolver=myresolver"
      - traefik.docker.network=traefik
    environment:
      - SERVER_NAME=image.a11y.mcgill.ca
    volumes:
      # Following volume mounts are used only by the IMAGE project's website, not required for IMAGE server 
      - /var/docker/image/IMAGE-website/image.conf:/etc/nginx/templates/image.conf.template:ro
      - /var/docker/image/IMAGE-website/html:/var/www/html:ro
      - website-logs:/var/log/nginx
      - /var/docker/image/IMAGE-website/passwords:/etc/nginx/passwords
      - /var/docker/image/resources/current:/var/www/resources:ro
    depends_on:
      - orchestrator
    networks:
      - traefik
      - default

  goaccess:
    container_name: image-goaccess
    image: allinurl/goaccess:1.9.2
    restart: unless-stopped
    command: /srv/logs/image-a11y-mcgill-ca-access.log --log-format=COMBINED --date-format='%d/%b/%Y' --time-format='%T' --no-global-config --real-time-html -o /srv/report/report.html --persist --restore
    volumes:
      - website-logs:/srv/logs:ro
      - ./goaccess_report:/srv/report

  monarch-link-app:
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.monarch-link-app.rule=Host(`image.a11y.mcgill.ca`) && PathPrefix(`/monarch`)"
      - "traefik.http.middlewares.monarch-stripprefix.stripprefix.prefixes=/monarch"
      - "traefik.http.routers.monarch-link-app.middlewares=monarch-stripprefix@docker"
      - "traefik.http.routers.monarch-link-app.tls.certresolver=myresolver"
      - traefik.docker.network=traefik
    environment:
      - SERVER_NAME=image.a11y.mcgill.ca

  tat:
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.tat.rule=Host(`image.a11y.mcgill.ca`) && PathPrefix(`/tat`)"
      - "traefik.http.routers.tat.tls.certresolver=myresolver"
      - "traefik.http.middlewares.tat-stripprefix.stripprefix.prefixes=/tat"
      - "traefik.http.routers.tat.middlewares=tat-stripprefix@docker"
      - "traefik.http.routers.tat.tls.certresolver=myresolver"
      - traefik.docker.network=traefik
    environment:
      - SERVER_URL=https://image.a11y.mcgill.ca/

  nominatim-preprocessor:
    environment:
      # temporary: backup server in place for NFB
      - NOMINATIM_FALLBACK_SERVER=https://nominatim.openstreetmap.org
