aiohttp==3.7.4.post0
aiosignal==1.2.0
alpha-vantage==2.3.1
appnope==0.1.3
async-timeout==3.0.1
asynctest==0.13.0
attrs==22.1.0
Automat==20.2.0
backcall==0.2.0
beautifulsoup4==4.11.1
boto3==1.24.56
botocore==1.27.56
bs4==0.0.1
cachetools==5.2.0
certifi==2022.6.15
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.3
clip==1.0
clip-by-openai==1.1
constantly==15.1.0
cryptography==37.0.2
cssselect==1.1.0
cycler==0.11.0
debugpy==1.6.0
decorator==5.1.1
discord-py-slash-command==3.0.3
discord-ui==5.1.6
discord.py==1.7.3
emacs==24.1.50.1.post20120610
entrypoints==0.4
filelock==3.7.1
fonttools==4.33.3
frozenlist==1.3.0
ftfy==6.1.1
google-api-core==2.10.1
google-api-python-client==2.64.0
google-auth==2.12.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.56.4
gsheets==0.6.1
html2image==2.0.1
httplib2==0.20.4
hyperlink==21.0.0
idna==3.3
imgkit==1.2.2
importlib-metadata==4.12.0
incremental==21.3.0
instagramy==4.5
instaloader==4.9
InvestopediaApi==1.1
ipykernel==6.14.0
ipython==7.34.0
ipython-genutils==0.2.0
itemadapter==0.6.0
itemloaders==1.0.4
jedi==0.18.1
jmespath==1.0.0
joblib==1.1.0
jupyter-client==7.3.4
jupyter-core==4.10.0
kiwisolver==1.4.2
lxml==4.8.0
matplotlib==3.5.2
matplotlib-inline==0.1.3
MechanicalSoup==1.2.0
mplfinance==0.12.9b1
multidict==6.0.2
multitasking==0.0.10
nest-asyncio==1.5.5
nltk==3.7
numpy==1.21.6
oauth2client==4.1.3
packaging==21.3
pandas==1.3.5
pandas-datareader==0.10.0
parsel==1.6.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
plotly==5.8.2
praw==7.6.0
prawcore==2.3.0
prompt-toolkit==3.0.29
Protego==0.2.1
protobuf==4.21.7
psutil==5.9.1
ptyprocess==0.7.0
pyaes==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocoevalcap==1.2
pycocotools==2.0.4
pycparser==2.21
PyDispatcher==2.0.5
Pygments==2.12.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytrends==4.8.0
pytz==2022.1
pyzmq==23.1.0
qtconsole==5.3.1
QtPy==2.1.0
queuelib==1.6.2
regex==2022.8.17
requests==2.27.1
requests-file==1.5.1
rsa==4.8
s3transfer==0.6.0
scikit-learn==1.0.2
scipy==1.7.3
Scrapy==2.6.1
service-identity==21.1.0
six==1.16.0
sklearn==0.0
soupsieve==2.3.2.post1
svgwrite==1.4.3
Telethon==1.24.0
tenacity==8.0.1
threadpoolctl==3.1.0
tldextract==3.3.0
torch==1.7.1
torchvision==0.8.2
tornado==6.1
tqdm==4.64.1
traitlets==5.2.2.post1
Tree==0.2.4
Twisted==22.4.0
typing_extensions==4.3.0
update-checker==0.18.0
uritemplate==4.1.1
urllib3==1.26.9
w3lib==1.22.0
wcwidth==0.2.5
websocket-client==1.3.3
yarl==1.8.1
yfinance==0.1.70
zipp==3.8.1
zope.interface==5.4.0
clip_by_openai
nltk
git+https://github.com/openai/CLIP
