bs4==0.0.1
imgkit==1.2.2
nltk==3.7
gunicorn==20.1.0
pillow==9.4.0
torch==1.13.1
tqdm==4.64.1
torchvision==0.8.2
clip-by-openai==1.1
scikit-learn==1.1.2
packaging==21.3
jsonschema==3.2.0
Flask==2.2.5
pycocoevalcap==1.2
sklearn
git+https://github.com/openai/CLIP
