Flask==2.0.3
jsonschema==3.2.0
requests==2.25.1
Werkzeug==2.0.3
gunicorn==20.1.0
numpy==1.21.0
opencv-python== 4.4.0.44
webcolors==1.12
Pillow==8.2.0
torch==1.10.0
matplotlib==3.4.3
scikit-learn==1.0.2
colorthief
