Flask==2.2.5
jsonschema==3.2.0
Werkzeug==3.0.3
gunicorn==22.0.0
requests==2.31.0
torch==1.13.1
torchvision==0.14.1
deepface==0.0.75
opencv-python== 4.5.5.64
scikit-learn== 1.0.1
matplotlib==3.3.1
Deprecated