Flask==2.2.5
flask_api==2.0.0
numpy==1.24.2
pillow==9.4.0
requests==2.26.0
torch==1.13.1
torchvision==0.11.1
jsonschema==3.2.0
Werkzeug==2.2.3
scipy==1.7.0
opencv-python== 4.5.1.48
gunicorn==20.1.0
git+https://github.com/CSAILVision/semantic-segmentation-pytorch.git@8f27c9b97d2ca7c6e05333d5766d144bf7d8c31b
