bcrypt>=4.2.0,<5.0.0
blinker>=1.8.2,<2.0.0
click>=8.1.7,<9.0.0
colorama>=0.4.6,<1.0.0
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Cors==5.0.0
itsdangerous>=2.2.0,<3.0.0
Jinja2>=3.1.4,<4.0.0
MarkupSafe>=3.0.1,<4.0.0
Werkzeug>=3.0.4,<4.0.0
gunicorn