Flask==3.1.0
jsonschema==4.23.0
Werkzeug==3.1.0
gunicorn==23.0.0
requests==2.32.3
openai==1.98.0
pillow==11.3.0
qwen-vl-utils==0.0.11
torch==2.9.0+cpu
torchvision==0.24.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu